:root {
	--charcoal-gray: #2f2f2f;
	--neon-gold: #ffcc00;
	--white: #fff;
	--silver: #c0c0c0;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

/* .poppins-medium {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: normal;
} */

body {
	overflow-x: hidden;
}

.mobile-nav {
	display: none;
}

.hero {
	background-image: url(Img/260.jpg);
	height: 100vh;
	width: 100%;
	background-position: center;
	background-size: cover;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1.5rem 5%;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	display: flex;
	gap: 10rem;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}

.logo {
	font-size: 1.8rem;
	font-weight: 700;
	color: var(--white);
}
.logo i {
	color: var(--neon-gold);
}
.logo:hover {
	cursor: pointer;
}

.lists-container {
	list-style: none;
	display: flex;
	gap: 2rem;
}

.list a:is(:link, :visited) {
	text-decoration: none;
	color: var(--white);
	font-weight: 500;
	transition: 0.3s;
}

.list a:hover {
	color: var(--neon-gold);
}

.header-button {
	color: var(--white);
	padding: 10px 15px;
	border-radius: 2rem;
	border: none;
	background: var(--neon-gold);
	font-size: 0.9rem;
	transition: 0.3s;
}
.header-button:hover {
	color: var(--white);
	border: 2px solid var(--neon-gold);
	cursor: pointer;
	transform: translateX(5px);
	background: transparent;
}
.hero-content {
	padding: 200px 20px;
	color: var(--neon-gold);
	font-size: 2rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.hero-content,
.hero-form {
	opacity: 0;
	transform: translateY(40px);
	transition: opacity 1s ease, transform 1s ease;
}

.hero-content.visible,
.hero-form.visible {
	opacity: 1;
	transform: translateY(0);
}

.hero-text .hero-p {
	color: var(--neon-gold);
	padding-top: 30px;
	font-size: 2.3rem;
	font-weight: 600;
}
.hero-form {
	width: 100%;
	max-width: 350px;
	margin-left: 9rem;
}
.hero-form form {
	display: grid;
	gap: 1rem;
	padding: 2rem;
	background-color: var(--charcoal-gray);
	border-radius: 10px;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.hero-form input {
	padding: 1rem;
	outline: none;
	border: none;
	font-size: 1rem;
	color: black;
	background-color: var(--white);
	border-radius: 5px;
}
.hero-form input::placeholder {
	color: var(--silver);
}
.form-btn {
	background-color: var(--neon-gold);
	color: var(--white);
	transition: 0.3s;
	border-radius: 5px;
	border: none;
	outline: none;
	padding: 8px 12px;
}
.form-btn:hover {
	cursor: pointer;
	background: transparent;
	color: var(--white);
	border: 2px solid var(--neon-gold);
}
.oil,
.fancy-section,
.seat-cover-section,
.customer-section {
	background-color: var(--charcoal-gray);
	color: var(--white);
	height: max-content;
	width: 100%;
	text-align: center;
	padding: 2rem;
}

.oil h2,
.fancy-header h2,
.seat-cover-header h2,
.customer-section-header h2 {
	font-size: 3rem;
}

.oil p,
.fancy-header p,
.seat-cover-header p,
.customer-section-header p {
	padding: 1.2rem;
	font-size: 1.5rem;
}

.oil-image-container {
	display: flex;
	justify-content: space-evenly;
	padding-top: 3rem;
}

.oil-card {
	background-color: var(--silver);
	border-radius: 10px;
	color: var(--white);
	padding: 1rem;
}
.oil-card img {
	padding-top: 10px;
}
/* Try removing the background of the image you use for oil.. The page will look better with that. */
.oil-card-text h3 {
	font-size: 1.2rem;
	padding-top: 10px;
}
.cta-text p {
	margin-top: 2rem;
	font-size: 2rem;
	font-weight: 600;
}
.line {
	height: 5px;
}

.product-container,
.seat-cover-container {
	display: flex;
	justify-content: space-evenly;
	gap: 1rem;
	background-color: var(--charcoal-gray);
	text-align: center;
	margin-bottom: 5rem;
}

.product,
.seat-cover {
	background-color: #2d004d;
	border-radius: 20px;
	padding: 20px 10px;
	transition: transform 0.3s ease;
}

.product:hover {
	transform: translateY(-5px);
}

.product img,
.seat-cover img {
	width: 90%;
	height: 90%;
	border-radius: 20px;
	object-fit: cover;
}

.product p {
	color: var(--silver);
	margin-top: 0.8rem;
	font-weight: 600;
	font-size: 1.4rem;
}

.seat-cover:hover img {
	transform: scale(1.05);
}

.customers-container {
	display: flex;
	justify-content: space-evenly;
}
.customer-card img {
	width: 90%;
	height: 100%;
	border-radius: 8px;
}
.footer {
	background-image: url(Img/Dodge\ footer.jpeg);
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	line-height: 1.5;
}
.footer-container {
	display: grid;
	grid-template-columns: 400px repeat(3, 1fr);
	gap: 2rem;
	padding: 0 20px;
}
.footer-col h3 {
	margin-bottom: 1rem;
	font-size: 1.5rem;
	color: var(--white);
}
.footer-col h3 span {
	color: var(--neon-gold);
}
.footer-col h4 {
	margin-bottom: 1rem;
	font-size: 1.2rem;
	color: var(--neon-gold);
}

.footer-col p {
	margin-bottom: 1rem;
	color: var(--white);
	cursor: pointer;
	transition: 0.3s;
}

.footer-col p:hover {
	transform: translateX(-5px);
	color: var(--neon-gold);
}

.footer col i {
	color: var(--white);
}

.footer-list-container {
	color: var(--white);
	font-size: 1rem;
}

.footer-list {
	margin-bottom: 10px;
}

.footer-bar {
	background-color: var(--charcoal-gray);
}

.footer-bar-content {
	width: max-content;
	margin: auto;
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}
.footer-bar-content p {
	font-size: 0.8rem;
	color: #fff;
}
.footer-socials {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1rem;
	color: #fff;
	cursor: pointer;
}
/* RESPONSIVE DESIGN */

/* Tablet Design */
@media (min-width: 600px) and (max-width: 1199px) {
	header {
		gap: 3rem;
	}

	.hero {
		height: max-content;
	}

	.hero-content {
		grid-template-columns: 1fr;
		font-size: 2rem;
	}

	.hero-form {
		margin: 3rem auto 0 auto;
	}

	.logo {
		font-size: 1.3rem;
	}

	.lists-container {
		gap: 1.5rem;
	}

	.footer-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 2rem;
		padding: 10px;
	}

	.footer-col h3 {
		font-size: 1.2rem;
	}

	.footer-col h4 {
		font-size: 1rem;
	}
}

/* Mobile Design */
@media (max-width: 599px) {
	header {
		gap: 3rem;
	}

	.logo {
		font-size: 1.3rem;
	}
	.mobile-nav {
		display: block;
	}
	.sandwich-bar {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 30px;
		height: 25px;
		cursor: pointer;
	}

	.bar {
		height: 4px;
		width: 100%;
		background-color: var(--white);
		border-radius: 2px;
	}

	.mobile-nav-links {
		display: none;
		position: absolute;
		top: 10vh;
		left: 0;
		background-color: var(--charcoal-gray);
		height: max-content;
		width: 100%;
		list-style: none;
		padding: 1rem;
		border-radius: 8px;
		text-align: center;
		padding: 30px;
	}

	.mobile-nav-links.list-active {
		display: block;
	}

	.mobile-nav-links li {
		margin: 0.5rem 0;
	}

	.mobile-nav-links a {
		text-decoration: none;
		color: var(--white);
		font-weight: 500;
		transition: color 0.3s;
		font-size: 1.2rem;
	}

	.mobile-nav-links a:hover {
		color: var(--neon-gold);
	}

	.order-btn,
	.nav-links {
		display: none;
	}

	.hero {
		height: max-content;
	}

	.hero-content {
		padding: 150px 10px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.hero-text h1 {
		font-size: 2.3rem;
	}

	.hero-text .hero-p {
		font-size: 1.8rem;
	}

	.hero-form {
		display: flex;
		margin: 3rem;
	}

	.oil,
	.fancy-section,
	.seat-cover-section,
	.customer-section {
		padding: 1rem;
	}

	.oil h2,
	.fancy-header h2,
	.seat-cover-header h2,
	.customer-section-header h2 {
		font-size: 1.5rem;
	}

	.oil p,
	.fancy-header p,
	.seat-cover-header p,
	.customer-section-header p {
		padding: 1rem;
		font-size: 1.2rem;
	}

	.oil-image-container {
		flex-direction: column;
		gap: 20px;
		padding-top: 1rem;
	}

	.product-container,
	.seat-cover-container {
		flex-direction: column;
	}

	.customer-card h4 {
		padding: 5px;
		font-size: 1rem;
	}
	.customer-card p {
		padding: 5px;
		font-size: 0.8em;
	}

	.jaypee-info {
		display: none;
	}

	.footer-container {
		display: flex;
		padding: 20px;
		gap: 1rem;
	}

	.footer-col h3 {
		font-size: 1rem;
	}

	.footer-col h4 {
		font-size: 1.1rem;
	}

	.footer-list-container {
		font-size: 0.8rem;
	}
}
